@model News.Models.Database.News
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form action="/News/Create" method="post">
    <input type="hidden" name="Id" placeholder="Id" class="form-control" />
    <input type="text" name="Title" placeholder="Title" class="form-control" />
    <input type="text" name="Description" placeholder="Description" class="form-control" />
    <input type="text" name="Category" placeholder="Category" class="form-control" />
    <input type="date" name="PublishDate" placeholder="PublishDate" class="form-control" />
    <input type="submit" value="Add" />
</form>

